<form [formGroup]="genreForm">
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
      <div class="search-form-width">
        <mat-form-field>
          <mat-select formControlName="genre" placeholder="Select genre">
            <ng-container *ngFor="let g of genre">
              <mat-option value="{{g.value}}">{{g.value}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <button style="width: 100%" mat-raised-button color="accent" (click)="search()">Search</button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
<app-search-result [dataSource]="searchResult"></app-search-result>
