<p>
  <mat-toolbar color="primary">
    <span>FilmFinder</span>
    <a mat-button *ngIf="isLoggedIn" (click)="navigate('/browse')" class="left-right-spacing">Browse</a>
    <a mat-button *ngIf="isLoggedIn" [routerLink]="['/wishlist']">My Wishlist</a>
    <span class="example-spacer"></span>
    <button *ngIf="isLoggedIn" (click)="navigate('/search')" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>search</mat-icon>
    </button>
    <span *ngIf="isLoggedIn && username">{{username}}</span>
    <button *ngIf="isLoggedIn" mat-icon-button [mat-menu-trigger-for]="userMenu" class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>Subscribed List</button>
      <button mat-menu-item>Subscribed Wishlist</button>
      <button mat-menu-item>Watched Movies</button>
      <button mat-menu-item>Block Users List</button>
      <button mat-menu-item (click)="logout()">Log Out</button>
    </mat-menu>
  </mat-toolbar>
</p>
