<app-navbar [isLoggedIn]="false"></app-navbar>
<form [formGroup]="signUpForm" (submit)="signup()">
  <div >
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Sign Up</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="login-form-width">
          <mat-form-field>
            <input formControlName="email" matInput placeholder="Enter email" required>
            <mat-error>Email required in correct form</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input  formControlName="username" matInput placeholder="Enter username" required>
            <mat-error>Username required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-select formControlName="yob" placeholder="Year of birth" required>
              <mat-option>None</mat-option>
              <ng-container *ngFor="let year of yearList">
                <mat-option value="{{year.value}}">{{year.value}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input type="password" formControlName="password" matInput placeholder="Enter password" required>
            <mat-error>Password required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input type="password" formControlName="confirmPassword" matInput placeholder="Confirm password" required>
            <mat-error>Confirm password required</mat-error>
          </mat-form-field>
          <br>
          <button mat-raised-button color="accent" type="submit" class="top-margin" (click)="signUpForm" [disabled]="signUpForm.invalid">Sign Up</button>
          <br>
          <button mat-raised-button color="primary" (click)="navigate('/login')" class="top-margin">Login</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</form>

