<app-navbar [isLoggedIn]="true"></app-navbar>
<h2 class="left-padding">Your banned FilmFinders list</h2>
<mat-paginator
  [pageSizeOptions]="[5, 10, 15, 20, 30]"
  pageSize="10"
  showFirstLastButtons
  (page)="pageChanged($event)">
</mat-paginator>
<mat-table [dataSource]="dataSourceMatTable" matSort  class="mat-elevation-z8">
  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element?.username}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="unblock">
    <mat-header-cell *matHeaderCellDef> Unban User </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button class="spacing"
        (click)="onClick(element)"
        mat-raised-button color="accent">
      Unban FilmFinder
    </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

