<app-navbar [isLoggedIn]="true"></app-navbar>
<form [formGroup]="searchForm">
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
      <div class="search-form-width">
        <mat-form-field>
          <input formControlName="movieName" matInput placeholder="Enter movie name">
        </mat-form-field>
        <mat-form-field>
          <input  formControlName="movieDescription" matInput placeholder="Enter movie description">
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <button style="width: 100%" mat-raised-button color="accent" (click)="search()">Search</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="search-form-width">
        <mat-form-field>
          <mat-select formControlName="movieGenre" placeholder="Select genre">
            <ng-container *ngFor="let g of genre">
              <mat-option value="{{g.value}}">{{g.value}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="movieGenre" placeholder="Select mood">
            <ng-container *ngFor="let m of mood">
              <mat-option value="{{m.value}}">{{m.value}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
<app-search-result [movieSearchResult]="searchResult" [dataSource]="searchResult"></app-search-result>
