
<!--{{movieDetailsObject | json}}-->

<!--<mat-tab-group>-->
<!--  <mat-tab label="Title"></mat-tab>-->
<!--  <mat-tab label="Year">{{movieDetailsObject.year}}</mat-tab>-->
<!--  <mat-tab label="Description">{{movieDetailsObject.description}}</mat-tab>-->
<!--  <mat-tab label="Genre">{{movieDetailsObject.genre}}</mat-tab>-->
<!--  <mat-tab label="Director">{{movieDetailsObject.director}}</mat-tab>-->
<!--  <mat-tab label="Cast">{{movieDetailsObject.cast}}</mat-tab>-->
<!--  <mat-tab label="Ratings">{{movieDetailsObject.rating}}</mat-tab>-->
<!--  <mat-tab label="Reviews">{{movieDetailsObject.reviews}}</mat-tab>-->
<!--  <mat-tab label="Recommendations">{{movieDetailsObject.recommendations}}</mat-tab>-->
<!--</mat-tab-group>-->

<mat-tab-group dynamicHeight>
  <mat-tab label="Title">
    <div class="example-small-box mat-elevation-z4">
      Small Content
    </div>
  </mat-tab>
  <mat-tab label="Long tab">
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
</mat-tab-group>
